implementations/ghc/vm/src/*.hi
implementations/ghc/vm/dist/*
implementations/ghc/vm/dist/
drafts/ghc/vm/dist/build/autogen/Paths_bard.hs
drafts/ghc/vm/dist/build/autogen/cabal_macros.h
drafts/ghc/vm/dist/build/bard/bard
drafts/ghc/vm/dist/build/bard/bard-tmp/IO.hi
drafts/ghc/vm/dist/build/bard/bard-tmp/Instructions.hi
drafts/ghc/vm/dist/build/bard/bard-tmp/Machine.hi
drafts/ghc/vm/dist/build/bard/bard-tmp/Main.hi
drafts/ghc/vm/dist/build/bard/bard-tmp/Stack.hi
drafts/ghc/vm/dist/build/bard/bard-tmp/Values.hi
drafts/ghc/vm/dist/package.conf.inplace
drafts/ghc/vm/dist/setup-config
src/vm/dist/build/autogen/Paths_bard.hs
src/vm/dist/build/autogen/cabal_macros.h
src/vm/dist/build/bard/bard
src/vm/dist/build/bard/bard-tmp/Atoms.hi
src/vm/dist/build/bard/bard-tmp/Code.hi
src/vm/dist/build/bard/bard-tmp/Env.hi
src/vm/dist/build/bard/bard-tmp/Environment.hi
src/vm/dist/build/bard/bard-tmp/Environments.hi
src/vm/dist/build/bard/bard-tmp/Error.hi
src/vm/dist/build/bard/bard-tmp/Expression.hi
src/vm/dist/build/bard/bard-tmp/IO.hi
src/vm/dist/build/bard/bard-tmp/Machine.hi
src/vm/dist/build/bard/bard-tmp/Main.hi
src/vm/dist/build/bard/bard-tmp/TestPrograms.hi
src/vm/dist/build/bard/bard-tmp/VM.hi
src/vm/dist/build/bard/bard-tmp/Value.hi
src/vm/dist/build/bard/bard-tmp/Values.hi
src/vm/dist/package.conf.inplace
src/vm/dist/setup-config
/src/interpreter/dist/
/src/_termite.log
/_termite.log
interpreter/libBard.a
doc/Bard~.iba
c_api/objc_data0.scm
builds//src/vm7/comp.scm~

/builds/mac/bard
/builds/mac/bard.dSYM/Contents/Resources/
/builds/ios/simulator/libBard_sim.a
/builds/ios/device/libBard_dev.a
/bard-eval/
/vm/include/bytecode.h~
/LICENSE~
/README~
*.txt~

0.3/bard.lisp~

/0.3/src/read.scm~
/0.3/src/values.scm~
/0.2.x/.DS_Store
/0.3/src/env.scm~
/0.3/src/hlvm.scm~
/0.3/src/.DS_Store
*.rkt~
/0.3/gambit/TAGS
/interpreter/fibs/
/interpreter/builds/mac/bard.dSYM/Contents/Resources/DWARF/bard
/interpreter/builds/mac/bard.dSYM/
/.DS_Store
/0.4/.DS_Store
/0.4/src/vm.scm~
/0.4/core/load.scm~
/0.4/core/README.md~
/0.5/.DS_Store

/0.2/.DS_Store

/0.3/interpreter/.DS_Store

/drafts/.DS_Store

/drafts/x0.5/.DS_Store
