<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.12.0.121252</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-02-08 01:41:17 -0600</string>
	<key>Creator</key>
	<string>mikel</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{134, 471.5}, {277, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>Copperplate-Bold</string>
				<key>Size</key>
				<real>25</real>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxNOb3QgQ3Jhenkgb3IgU3R1cGlkhoQCaUkB
				E5KEhIQMTlNEaWN0aW9uYXJ5AJSEAWkDkoSWlgdOU0Nv
				bG9yhpKEhIQHTlNDb2xvcgCUhAFjAYQEZmZmZoMD1k0+
				g4Sywz0Ag8P1aD+GkoSWlgZOU0ZvbnSGkoSEhAZOU0Zv
				bnQelJkshAVbNDRjXQYAAAAiAAAA//5DAG8AcABwAGUA
				cgBwAGwAYQB0AGUALQBCAG8AbABkAAAAhAFmGpsAmwGb
				AJsAhpKElpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEEE5T
				UGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwIAhISEB05TQXJy
				YXkAlJkMkoSEhAlOU1RleHRUYWIAlIQCQ2YAHIaShKWk
				ADiGkoSlpABUhpKEpaQAcIaShKWkAIGMAIaShKWkAIGo
				AIaShKWkAIHEAIaShKWkAIHgAIaShKWkAIH8AIaShKWk
				AIEYAYaShKWkAIE0AYaShKWkAIFQAYaGAIaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 Copperplate;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs52 \cf2 Not Crazy or Stupid}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{180.5, 512}, {184, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>BlackoakStd</string>
				<key>Size</key>
				<real>21</real>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwVHVUlERYaEAmlJAQWShISEDE5TRGljdGlv
				bmFyeQCUhAFpA5KElpYHTlNDb2xvcoaShISEB05TQ29s
				b3IAlIQBYwGEBGZmZmaDA9ZNPoOEssM9AIPD9Wg/hpKE
				lpYGTlNGb250hpKEhIQGTlNGb250HpSZIIQFWzMyY10G
				AAAAGAAAAP/+QgBsAGEAYwBrAG8AYQBrAFMAdABkAIQB
				ZhabAJsBmwCbAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWG
				koSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMCAISE
				hAdOU0FycmF5AJSZDJKEhIQJTlNUZXh0VGFiAJSEAkNm
				AByGkoSlpAA4hpKEpaQAVIaShKWkAHCGkoSlpACBjACG
				koSlpACBqACGkoSlpACBxACGkoSlpACB4ACGkoSlpACB
				/ACGkoSlpACBGAGGkoSlpACBNAGGkoSlpACBUAGGhgCG
				hoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 BlackoakStd;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs44 \cf2 GUIDE}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{125.5, 550}, {294, 131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>MonaLisaSolidITCTT</string>
				<key>Size</key>
				<real>42</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyR0byAKRGVzaWduaW5nIGFuZCBJbXBsZW1l
				bnRpbmcKCkxJU1CGhAJpSQECkoSEhAxOU0RpY3Rpb25h
				cnkAlIQBaQOShJaWB05TQ29sb3KGkoSEhAdOU0NvbG9y
				AJSEAWMBhARmZmZmgwPWTT6DhLLDPQCDw/VoP4aShJaW
				Bk5TRm9udIaShISEBk5TRm9udB6UmTCEBVs0OGNdBgAA
				ACYAAAD//k0AbwBuAGEATABpAHMAYQBTAG8AbABpAGQA
				SQBUAEMAVABUAAAAhAFmKZsAmwGbAJsAhpKElpYQTlNQ
				YXJhZ3JhcGhTdHlsZYaShISEEE5TUGFyYWdyYXBoU3R5
				bGUAlIQEQ0NAUwIAhISEB05TQXJyYXkAlJkMkoSEhAlO
				U1RleHRUYWIAlIQCQ2YAHIaShKWkADiGkoSlpABUhpKE
				paQAcIaShKWkAIGMAIaShKWkAIGoAIaShKWkAIHEAIaS
				hKWkAIHgAIaShKWkAIH8AIaShKWkAIEYAYaShKWkAIE0
				AYaShKWkAIFQAYaGAIaGlwICkoSYmQOSmZKakpyShJ6Z
				MJ4GAAAAJgAAAP/+TQBvAG4AYQBMAGkAcwBhAFMAbwBs
				AGkAZABJAFQAQwBUAFQAAACfFJsAmwGbAJsAhpKfkoSh
				oQIAhKOZDJKkkqaSp5KokqmSqpKrkqySrZKukq+SsIYA
				hoaXAxqShJiZA5KZkpqSnJKEnpkshAVbNDRjXQYAAAAi
				AAAA//5DAG8AcABwAGUAcgBwAGwAYQB0AGUALQBCAG8A
				bABkAAAAnxSbAJsBmwCbAIaSn5KghpcCApcEBJKEmJkD
				kpmSmpKckoSemSCEBVszMmNdBgAAABgAAAD//kIAbABh
				AGMAawBvAGEAawBTAHQAZACfIJsAmwGbAJsAhpKfkqCG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 MonaLisaSolidITCTT;\f1\fnil\fcharset0 Copperplate;\f2\fnil\fcharset0 BlackoakStd;
}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs82 \cf2 to
\fs40  \

\f1\b Designing and Implementing
\f0\b0 \
\

\f2\b\fs64 LISP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{81.5, 79}, {382, 102}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>BordeauxRomanBoldLetPlain</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxpUaGUgQ29uZm91bmRlZCBDb250cmFwdGlv
				boaEAmlJARqShISEDE5TRGljdGlvbmFyeQCUhAFpA5KE
				lpYHTlNDb2xvcoaShISEB05TQ29sb3IAlIQBYwGEBGZm
				ZmaDA9ZNPoOEssM9AIPD9Wg/hpKElpYGTlNGb250hpKE
				hIQGTlNGb250HpSZPIQFWzYwY10GAAAANAAAAP/+QgBv
				AHIAZABlAGEAdQB4AFIAbwBtAGEAbgBCAG8AbABkAEwA
				ZQB0AFAAbABhAGkAbgCEAWZImwCbAZsAmwCGkoSWlhBO
				U1BhcmFncmFwaFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhT
				dHlsZQCUhARDQ0BTAgCEhIQHTlNBcnJheQCUmQyShISE
				CU5TVGV4dFRhYgCUhAJDZgAchpKEpaQAOIaShKWkAFSG
				koSlpABwhpKEpaQAgYwAhpKEpaQAgagAhpKEpaQAgcQA
				hpKEpaQAgeAAhpKEpaQAgfwAhpKEpaQAgRgBhpKEpaQA
				gTQBhpKEpaQAgVABhoYAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 BordeauxRomanBoldLetPlain;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs144 \cf2 The Confounded Contraption}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{218.5, 152}, {108, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>Baskerville-SemiBoldItalic</string>
				<key>Size</key>
				<real>33</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwvinLcgb3Ig4py3IIaEAmlJAQGShISEDE5T
				RGljdGlvbmFyeQCUhAFpA5KElpYHTlNDb2xvcoaShISE
				B05TQ29sb3IAlIQBYwGEBGZmZmaDA9ZNPoOEssM9AIPD
				9Wg/hpKElpYGTlNGb250hpKEhIQGTlNGb250HpSZKIQF
				WzQwY10GAAAAIAAAAP/+WgBhAHAAZgBEAGkAbgBnAGIA
				YQB0AHMASQBUAEMAhAFmIZsAmwGbAJsAhpKElpYQTlNQ
				YXJhZ3JhcGhTdHlsZYaShISEEE5TUGFyYWdyYXBoU3R5
				bGUAlIQEQ0NAUwIAhISEB05TQXJyYXkAlJkMkoSEhAlO
				U1RleHRUYWIAlIQCQ2YAHIaShKWkADiGkoSlpABUhpKE
				paQAcIaShKWkAIGMAIaShKWkAIGoAIaShKWkAIHEAIaS
				hKWkAIHgAIaShKWkAIH8AIaShKWkAIEYAYaShKWkAIE0
				AYaShKWkAIFQAYaGAIaGlwIBkoSYmQOSmZKakp+SoJKc
				koSemUCEBVs2NGNdBgAAADYAAAD//kIAYQBzAGsAZQBy
				AHYAaQBsAGwAZQAtAFMAZQBtAGkAQgBvAGwAZABJAHQA
				YQBsAGkAYwAAAJ8hmwCbAZsAmwCGhpcDApKEmJkEkp+S
				hKGhAgCEo5kMkqSSppKnkqiSqZKqkquSrJKtkq6Sr5Kw
				hgCGkoSWlg5OU09yaWdpbmFsRm9udIaShJ6ZMIQFWzQ4
				Y10GAAAAJgAAAP/+TQBvAG4AYQBMAGkAcwBhAFMAbwBs
				AGkAZABJAFQAQwBUAFQAAACfQJsAmwGbAJsAhpKckrKS
				mZKahpcCAZcBAZcCAYY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset77 ZapfDingbatsITC;\f1\fnil\fcharset0 Baskerville-SemiBoldItalic;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs66 \cf2 \uc0\u10039 
\f1\i\b  or 
\f0\i0\b0 \uc0\u10039 
\f1\i\b  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{158, 325}, {229, 134}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>MonaLisaSolidITCTT</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyhNaWtlbCdzIFN1cmUtRmlyZSwKRWFzeSwK
				MTAwJSBHdWFyYW50ZWVkhoQCaUkBEpKEhIQMTlNEaWN0
				aW9uYXJ5AJSEAWkEkoSWlg5OU09yaWdpbmFsRm9udIaS
				hISEBk5TRm9udB6UmUSEBVs2OGNdBgAAADoAAAD//lQA
				aQBtAGUAcwBOAGUAdwBSAG8AbQBhAG4AUABTAC0AQgBv
				AGwAZABJAHQAYQBsAGkAYwBNAFQAAACEAWYehAFjAJ0B
				nQCdAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSEhBBO
				U1BhcmFncmFwaFN0eWxlAJSEBENDQFMCAISEhAdOU0Fy
				cmF5AJSZDJKEhIQJTlNUZXh0VGFiAJSEAkNmAByGkoSi
				ogA4hpKEoqIAVIaShKKiAHCGkoSiogCBjACGkoSiogCB
				qACGkoSiogCBxACGkoSiogCB4ACGkoSiogCB/ACGkoSi
				ogCBGAGGkoSiogCBNAGGkoSiogCBUAGGhgCGkoSWlgZO
				U0ZvbnSGkpqShJaWB05TQ29sb3KGkoSEhAdOU0NvbG9y
				AJSdAYQEZmZmZoMD1k0+g4Sywz0Ag8P1aD+GhpcCAZKE
				mJkEkpmShJuZMIQFWzQ4Y10GAAAAJgAAAP/+TQBvAG4A
				YQBMAGkAcwBhAFMAbwBsAGkAZABJAFQAQwBUAFQAAACc
				GJ0AnQGdAJ0AhpKckp2SrpKzkq+SsIaXAwSShJiZBJKZ
				koSbmTClBgAAACYAAAD//k0AbwBuAGEATABpAHMAYQBT
				AG8AbABpAGQASQBUAEMAVABUAAAAnECdAJ0BnQCdAIaS
				nJKdkq6ShJuZMKUGAAAAJgAAAP/+TQBvAG4AYQBMAGkA
				cwBhAFMAbwBsAGkAZABJAFQAQwBUAFQAAACcMJ0AnQGd
				AJ0AhpKvkrCGlwQCkoSYmQOSr5Kwkq6ShJuZMKUGAAAA
				JgAAAP/+TQBvAG4AYQBMAGkAcwBhAFMAbwBsAGkAZABJ
				AFQAQwBUAFQAAACcFJ0AnQGdAJ0AhpKckp2GlwUPkoSY
				mQSSmZKEm5k4hAVbNTZjXQYAAAAwAAAA//5BAGMAYQBk
				AGUAbQB5AEUAbgBnAHIAYQB2AGUAZABMAGUAdABQAGwA
				YQBpAG4AnB6dAJ0BnQCdAIaSnJKdkq6SupKvkrCGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;\f1\fnil\fcharset0 MonaLisaSolidITCTT;\f2\fnil\fcharset0 AcademyEngravedLetPlain;
}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\i\b\fs60 \cf2 Mikel's Sure-Fire,
\f1\i0\b0\fs48 \

\fs96 Easy
\fs40 ,\

\f2\fs60 100% Guaranteed}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212, 269}, {121, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>Baskerville-SemiBoldItalic</string>
				<key>Size</key>
				<real>33</real>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwvimJsgb3Ig4piaIIaEAmlJAQGShISEDE5T
				RGljdGlvbmFyeQCUhAFpBJKElpYQTlNQYXJhZ3JhcGhT
				dHlsZYaShISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NA
				UwIAhISEB05TQXJyYXkAlJkMkoSEhAlOU1RleHRUYWIA
				lIQCQ2YAHIaShJ+eADiGkoSfngBUhpKEn54AcIaShJ+e
				AIGMAIaShJ+eAIGoAIaShJ+eAIHEAIaShJ+eAIHgAIaS
				hJ+eAIH8AIaShJ+eAIEYAYaShJ+eAIE0AYaShJ+eAIFQ
				AYaGAIaShJaWDk5TT3JpZ2luYWxGb250hpKEhIQGTlNG
				b250HpSZKIQFWzQwY10GAAAAIAAAAP/+WgBhAHAAZgBE
				AGkAbgBnAGIAYQB0AHMASQBUAEMAhAFmMIQBYwCiAaIA
				ogCGkoSWlgZOU0ZvbnSGkoStmSigBgAAAB4AAAD//kEA
				cgBpAGEAbABVAG4AaQBjAG8AZABlAE0AUwAAAKEhogCi
				AaIAogCGkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				ogGEBGZmZmaDA9ZNPoOEssM9AIPD9Wg/hoaXAgGShJiZ
				BJKrkqySmZKakq6ShK2ZQIQFWzY0Y10GAAAANgAAAP/+
				QgBhAHMAawBlAHIAdgBpAGwAbABlAC0AUwBlAG0AaQBC
				AG8AbABkAEkAdABhAGwAaQBjAAAAoSGiAKIBogCiAIaS
				sJKxhpcDA5KEmJkDkrCSsZKZkoSbmwIAhJ2ZDJKekqCS
				oZKikqOSpJKlkqaSp5KokqmSqoYAhpKukrSGlwEBlwMB
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 ArialUnicodeMS;\f1\fnil\fcharset0 Baskerville-SemiBoldItalic;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs66 \cf2 \uc0\u9755 
\f1\i\b  or 
\f0\i0\b0 \uc0\u9754 
\f1\i\b  }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{113, 209}, {319, 68}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.91</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0955553</string>
					<key>r</key>
					<string>0.201012</string>
				</dict>
				<key>Font</key>
				<string>RosewoodStd-Regular</string>
				<key>Size</key>
				<real>57</real>
			</dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwxIb3cgVG8gRG8gSXSGhAJpSQEMkoSEhAxO
				U0RpY3Rpb25hcnkAlIQBaQSShJaWDk5TT3JpZ2luYWxG
				b250hpKEhIQGTlNGb250HpSZHIQFWzI4Y10GAAAAFAAA
				AP/+SABlAGwAdgBlAHQAaQBjAGEAhAFmDIQBYwCdAZ0A
				nQCGkoSWlhBOU1BhcmFncmFwaFN0eWxlhpKEhIQXTlNN
				dXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3Jh
				cGhTdHlsZQCUhARDQ0BTAgCFAIaShJaWBk5TRm9udIaS
				hJuZMIQFWzQ4Y10GAAAAKAAAAP/+UgBvAHMAZQB3AG8A
				bwBkAFMAdABkAC0AUgBlAGcAdQBsAGEAcgCcOZ0AnQGd
				AJ0AhpKElpYHTlNDb2xvcoaShISEB05TQ29sb3IAlJ0B
				hARmZmZmgwPWTT6DhLLDPQCDw/VoP4aGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf250
{\fonttbl\f0\fnil\fcharset0 RosewoodStd-Regular;}
{\colortbl;\red255\green255\blue255;\red51\green24\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs114 \cf2 How To Do It}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{9.57999, 72}, {525.84, 640.56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.83</string>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.0555828</string>
					<key>r</key>
					<string>0.109568</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.jpg</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2010-02-08 02:18:32 -0600</string>
	<key>Modifier</key>
	<string>mikel</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{645, 145}, {849, 993}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-69, -53}, {714, 839}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
